
@import "../../../styles/colors";

.expositionsGrid
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px

  .exposition
    flex: 1 1 33.3%;
    min-height 180px
    transition .2s background-color, background-image
    text-decoration none
    background-size 0
    max-width 33.3%
  
    .expositionOverlay
      padding 1em
      height 100%
      display block
  
    @media(max-width 768px)
      flex: 1 1 50% !important
      max-width 50% !important
      min-height auto
      &:hover  
        background-size 0

    @media(max-width 470px)
      flex: 1 1 100% !important
      max-width 100% !important

    &:hover
      background-repeat no-repeat
      background-position center center
      background-size cover
      background-color $darkpurple
      
      .expositionOverlay
        background-color alpha($darkpurple, 0.7)

      .expositionName
        text-decoration underline
      .expositionText p
        color $white
    
    .expositionName
      margin: 0 0 5px 0;
      font-size 25px

    .expositionText
      p
        line-height 30px
        font-family "News Cycle", sans-serif
        font-size 18px
        font-weight bold
      *
        margin: 0;