
@import "../../../styles/colors";

.expositionsGrid
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px

  .exposition
    min-height 180px
    padding 1em
    flex: 1 1 33.3%;
    max-width 33.3%
    transition .2s background-color
    text-decoration none
    background-size 0

    &:hover
      background-repeat no-repeat
      background-position center center
      background-size cover
      background-color darken($purple, 30%)
      .expositionName
        text-decoration underline
    
    .expositionName
      margin: 0 0 5px 0;
      font-size 25px
      

    .expositionText
      p
        color: $black;
        line-height 30px
        font-family "News Cycle", sans-serif
        font-size 20px
        font-weight bold

      *
        margin: 0;