@import '../../../styles/colors';

.participant
  display: flex;

  .pageTitle
    text-decoration: underline;

  .leftSection, .rightSection
    padding: 1.5em;

  .leftSection
    flex: 5;

    .participanGallery
      height: 250px;
      background-size: cover;
      background-position: center center;

  .rightSection
    flex: 7;