@import '../../../styles/colors'

.participant
  display flex

  .pageTitle
    text-decoration underline

  .leftSection
    flex 5

    .participanGallery
      height 250px
      background-size cover
      background-position center center
      display flex
      align-items center

  .rightSection
    flex 7
