@import '../../../styles/colors';

.participant
  display: flex;

  .pageTitle
    text-decoration: underline;

  .leftSection, .rightSection
    padding: 1.5em;
    width 50%

  .leftSection
    flex: 5;

    .participanGallery
      background-color $black
      height: 250px;
      background-size: cover;
      background-position: center center;
      display flex
      width 300px

  .rightSection
    flex: 7;