@import './colors';

// Fonts imported from googlefonts as css
// NewsCycle, RobotoMono 

* :not(input):not(p):not(a):not(em):not(i):not(strong)
  font-family: 'News Cycle', sans-serif;
  line-height: 1.3em;

h1, h2, h3, h4, h6
  color: $white;

a
  color: $white;
  font-family: 'News Cycle', sans-serif;
  font-weight bold

p, input
  font-family: 'Roboto Mono', monospace;
  color: $black;

i, em, strong
  font-family: 'Roboto Mono', monospace;

i
  font-style: italic;

p
  font-size: 14px;
  line-height: 24px;