@import "../../styles/colors";

.home
  height 100%
  position relative
  .homeTop
    position absolute
    height 100vh
    width 100%
    display flex
    align-items center
    justify-content center
    .videoPlayer
      height 100%
    
  .sections
    padding-top 100vh
    display flex
    flex-direction column
    flex-wrap wrap
    section
      padding 1em 3em
      height 100%
      flex 1

      .sectionTitle
        text-decoration underline
        font-size 36pt
        color $black

      &.sponsors
        .sponsor
          background-position center center
          background-repeat no-repeat
          background-size contain
          &:last-child
            margin 40px 0 60px 0