@import '../../styles/colors';

.home
  height: 100%;
  position: relative;

  
  .homeTop
    display: flex;
    align-items: center;
    justify-content: center;
    text-align center

    img
      display inline-block
      margin 0 auto
      left 0
      right 0

    .videoPlayer
      height: 100%;

  section
    position: relative;
    min-height: 100vh;
    padding: 1em 3em 1em 3em;
    flex: 1;

    &.halfSections
      display: flex;

      .sectionRight
        padding-left: 1em;
        .loaderContainer
          height: calc(100% - 62px - 80px);

      .sectionLeft
        padding-right: 1em;

      .sectionRight, .sectionLeft
        flex: 1 1 50%;
        position: relative;

    .sectionTitle
      text-decoration: underline;
      font-size: 36pt;
      margin-bottom: 1em;
      color: $black;

      a
        color: $black;

    // First section
    &.videos
      display flex
      margin 0
      padding 0

    &.sponsors
      .sponsor
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        &:last-child
          margin: 40px 0 60px 0;

    &.programs
      .loaderContainer
        text-align center
