@import "../../styles/colors";

.home
  min-height 100%
  display flex
  flex-direction column
  flex-wrap wrap
  section
    height 100%
    flex 1
    // height 100%
    .videoPlayer
      height 100%

    .sponsor
      background-position center center
      background-repeat no-repeat
      background-size contain
      &:last-child
        margin 40px 0 60px 0