
@import '../../../styles/constants';

.mainPrograms
  display: flex;
  padding: 15px;
  flex-direction: row;
  height: 80%;

  @media (max-width: 1115px)
    height: auto !important;
    padding: 0;
    flex-direction: column;

    .mainProgramsAnimation
      display: none;

    .mainProgramContainer
      &.firstProgram
        margin-right: 0 !important;

      &.secondProgram
        margin-left: 0 !important;

  > div
    flex: 1;
    justify-content: center;
    align-items: center;

    &.mainProgramsAnimation
      max-width: 360px;
      min-width: 100px;

      img
        width: 100%;

    &.mainProgramContainer
      min-width: 375px;
      @media (max-width: $sm)
        min-width: 100%;

      text-align: left;
      display: flex;
      align-items: center;

      &.firstProgram
        margin-right: 3em;

      &.secondProgram
        margin-left: 3em;

  .programTitle
    &:hover a
      text-decoration: underline;

    a
      text-decoration: none;
      font-size: 32px;

  .programAbstract
    text-align: left;

    p
      color: $white;