
@import "../../../styles/colors";

.expositionInfoBar
  position relative
  display flex
  padding 0
  border-top 3px solid $black
  border-bottom 3px solid $black
  vertical-align center
  min-height 120px

  .expositionInfoBarItem
    flex 1
    padding 0.8em 10px
    font-size 22px
    font-weight bold
    text-align center
    display flex
    align-items center
    justify-content center

    .link
      font-family 'News Cycle', sans-serif

    &:first-child
      text-align left
      padding-left 0

    &:last-child
      text-align right
      padding-right 0
      flex-direction column
      justify-content center

  .expositionInfoBarItem__link
    color $black
  .loaderContainer--loading
    top 40%