
@import "../../../styles/constants";

@media(max-width: $sm)
  .expositionInfoBar * 
    font-size 20px !important

@media(max-width: $md)
  .expositionInfoBar
    flex-wrap wrap
    .expositionInfoBarItem
      &.expositionPlace
      &.expositionPracticalInfo
        padding-left 0
        justify-content flex-start
        text-align left

      &.expositionPlace
      &.expositionDates
        border-bottom 3px solid $black

      &.expositionTimes
        flex-direction column
        align-items flex-end
        justify-content center
        padding-right 0
        text-align right

      &.expositionDates
        justify-content flex-end
        padding-right 0
        text-align right

.expositionInfoBar
  position relative
  display flex
  padding 0
  border-top 3px solid $black
  border-bottom 3px solid $black
  vertical-align center
  min-height 120px


  .expositionInfoBarItem
    flex 1
    padding 0.8em 10px
    font-size 22px
    font-weight bold
    text-align center
    display flex
    align-items center
    justify-content center
    
    @media(max-width: $md)
      min-width 50%
      word-wrap anywhere
      flex 1 1 50% !important
      padding 15px 5px

    .link
      font-family 'News Cycle', sans-serif

    &.expositionPlace
      padding-left 0

  .expositionInfoBarItem__link
    color $black
  .loaderContainer--loading
    top 40%