@import "../../../styles/colors";

.exposition
  // Main exposition section
  .expositionLayout
    padding 2em 1em
    display flex
    // Layout is divided in two columns
    .rightSection
    .leftSection
      flex 1 1 50%

    .leftSection
      .expositionText
        font-family Roboto Mono, monospace
        color $white

    .rightSection
      .expositionGallery
        margin-bottom 3em
        // background-color $black
        // height 300px
        
  .expositionTitle
    margin-top 0
    font-weight bold
    font-size 46px
    text-decoration underline