@import "../../../styles/colors";
@import "../../../styles/constants";

.footer
  display flex
  background-color transparent
  justify-content center
  align-items center
  padding 1rem
  height $footer_height
  
  .footerRight
    flex 7
    text-align right
    .contactText
      color $white

  .footerLeft
    flex 5
    display flex

    .susbscribeInput
      display flex
      flex-direction row
      align-items flex-end
      padding-bottom 4px
      input
        background-color $purple
        border 3px solid $black
        color $black
        font-size 18px
        height 30px
        padding 15px 10px
  
    .susbscribeText
      margin 0
      width 340px
      text-transform uppercase
      color $black