@import "../../../styles/constants";

.footer
  display flex
  background-color transparent
  justify-content center
  align-items center
  height $footer_height

  // The subscribe input and text have an specific breakpoint
  @media (max-width: 625px)
    .footerRight
    .footerLeft
      padding 0 !important
    .footerLeft
      flex-direction column
      .suscribeInput
        margin-top 1em

  @media (max-width: 815px)
    height initial 
    flex-direction column
    text-align center
    .suscribeInput
      text-align center
      #mc_embed_signup
        display inline-block
        margin 0 auto

    .socialNetworks
      text-align center
  
  .footerRight
    padding 1rem 2rem
    flex 7
    text-align right
    .contactText
      color $white
      margin-bottom 0

  .footerLeft
    padding 1rem 2rem
    flex 5
    display flex

    .suscribeInput
      display flex
      flex-direction row
      align-items flex-end
      input
        background-color $purple
        border 3px solid $black
        color $black
        font-size 18px
        height 30px
        padding 15px 10px
  
    .suscribeText
      margin 0
      width 290px
      text-transform uppercase
      color $black
      line-height 40px