@import "../../../styles/colors";

.footer
  display flex
  background-color transparent
  justify-content center
  align-items center
  padding 1rem
  
  .footerRight
  .footerLeft
    flex 1
    
  .footerRight
    text-align right

  .footerLeft
    display flex