@import "../../../styles/colors";

.program
  display flex
  .leftSection
  .rightSection
    width 50%
    padding 10px
  .programGallery
    height 300px
    display block
    background-color $black
      