@import "../../../styles/colors";

.program
  display flex
  .programGallery
    height 300px
    display block
    background-color $black
  .programText
  .programText p
    color $white
      