@import '../../../styles/colors';

.program
  display: flex;

  &.pageSingleLayout
    flex-direction: column;
    .pageTitle
      margin-top 15px

  .programText, .programText p
    color: $white;

  .activityList
    margin-top: 10px;

    .activity
      position relative
      min-height 85px
      padding: 10px 0;
      transition: background-color 0.2s;
      
      * 
        text-align center

      &:hover
        background-color: $darkpurple;

        .activityInformation
          color: $white;

      .activityName
        font-size: 26px;
        padding-left: 10px;
        margin-bottom: 5px;

      .activityLink
        text-decoration: none !important;        

        .loaderContainer
          bottom 10px
          top auto !important

      .activityInformation
        padding-left: 10px;
        font-size: 18px;
        color: $black;
