@import './styles/constants';

.app
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .appContent
    position: relative;
    flex-grow: 1;
    padding-top: $header_height;

    &&--home
      padding-top: 0;

  .footer, .appContent
    flex-shrink: 0;