@import "./styles/typography.styl";
@import "./styles/colors.styl";

* 
  box-sizing border-box

body,
html
  min-height 100%

body
  background-color $purple
  margin 0
  
ul
  list-style-type none

// Main page styling
.page
  padding 2em
  .pageTitle
    margin 0

  .pageList
    .pageListTitle
      color $black
      margin-bottom 0
      text-decoration underline
      font-weight bold
    // <ul/> element
    .pageListWrapper
      padding 0
      margin-top 5px
      .pageListItem
        font-weight bold
        color $white
        text-decoration underline
        font-size: 24px