@import "./styles/typography.styl";
@import "./styles/colors.styl";

* 
  box-sizing border-box

body,
html
  min-height 100%
  height 100%

body
  background-color $purple
  margin 0
  
ul
  list-style-type none

// Main page styling
.page
  padding 2em

  @media(max-width 768px)
    padding-left 15px !important
    padding-right 15px !important
    .pageListTitle
      margin 0
    .pageLayout
      padding 0 !important
      flex-wrap wrap
      flex-direction column
      
      .pageLeft
      .pageRight
        padding 0 !important

      .pageLeft
        order: 2
      .pageRight
        order: 1

  .pageTitle
    margin 0
    font-size 42px
    font-weight bold

  // Main page layout, two columns with tex on right
  .staticPageText
    p
      color $white
      font-family 'Roboto Mono', monospace
      span
        font-family 'Roboto Mono', monospace

  .pageLayout
    display flex

    .pageRight
    .pageLeft
      padding 15px
      p
        color $white
        font-family 'Roboto Mono', monospace
        span
          font-family 'Roboto Mono', monospace

    .pageLeft
      flex 5
    .pageRight
      flex 7

  // Listed items with links to other pages
  // located normally on pageLeft
  .pageList
    .pageListTitle
      font-size 30px
      color $black
      margin-bottom 0
      text-decoration underline
      font-weight bold
    // <ul/> element
    .pageListWrapper
      padding 0
      margin-top 5px
      .pageListItem
        font-weight bold
        line-height 32px
        color $white
        a 
          color $white
          text-decoration none
          font-size 30px
          font-family 'News Cycle', sans-serif
          font-weight bold
          transition color .2s
          &:hover
            color: darken($white, 25);