@import "./styles/typography.styl";
@import "./styles/colors.styl";

* 
  box-sizing border-box

body,
html
  min-height 100%
  height 100%

body
  background-color $purple
  margin 0
  
ul
  list-style-type none

// Main page styling
.page
  padding 2em
  .pageTitle
    margin 0
    font-size 46px
    font-weight bold

  .pageList
    .pageListTitle
      font-size 30px
      color $black
      margin-bottom 0
      text-decoration underline
      font-weight bold
    // <ul/> element
    .pageListWrapper
      padding 0
      margin-top 5px
      .pageListItem
        font-weight bold
        line-height 32px
        color $white
        a 
          color $white
          text-decoration underline
          font-size 30px
          font-family 'News Cycle', sans-serif
          font-weight bold
          transition color .2s
          &:hover
            color: darken($white, 25);

.leftSection
.rightSection
  width 50%
.leftSection
  padding 15px 35px 15px 15px

.rightSection
  padding 15px 15px 15px 35px