@import "../../styles/colors";

.programs
  .programsTitle
    color $black
    text-decoration underline

  .programsContainer
    display flex
    padding 15px

    .program
      flex 1 1 50%
      .programTitle
        text-decoration underline
      .programEventList
        padding 0
        .programEvent
          color $white
          font-size 26px
        .programEventLink
          color $white
          font-size 26px
          text-decoration none